
.schedule_date, .schedule_address{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

ul#countdown {
    list-style: none;
    margin-top: 20px;
    padding: 0;
    display: block;
    text-align: center;
}

ul#countdown li {
    background: rgba(245, 176, 55, 0); /* making it transparent */
    display: inline-block;
    margin: 10px 1px;
    padding-top: 20px;
    width: 120px;
    height: 100px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

ul#countdown li span {
    font-family: 'Orbitron', sans-serif;
}
ul#countdown li p {
    font-family: "Economica", "sans-serif";
}

#days, #hours, #minutes, #seconds {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.schedulePage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.animate-zoom{-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s;}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0);} to{-webkit-transform:scale(1);}}


.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}


